<center>

<%= link_to "Home", root_path, method: :get %>
<%= link_to "Login", login_path, method: :get %>
<%= link_to "Register New User", register_path, method: :get %>
<br>

<p><b>Random Dog Fact: </b></p>
<%= @fact %>

</center>
