<center>
<body style="background-image: url('https://i.imgur.com/2tOTrmY.png');">

<%= image_tag("https://i.imgur.com/eJaAlMg.png") %>

<div class="card bg-light mb-3" style="max-width: 38rem;">
  <div class="card-header">Random Dog Fact:</div>
  <div class="card-body">
    <p class="card-text"><%= @fact %></p>
  </div>
</div>

</center>
