<center>
<div style= "color:#FFFFFF" >
<h1 class="display-5">All Pets:</h1>
<hr><br>
</div>


  <% @pets.each do |pet| %>
    <% @picture = DogPictureFacade.create_breed_image(pet.breed) %>
    <% if @picture != "Breed not found (master breed does not exist)" %>
      <div class="card" style="width: 30rem;">
        <img class="card-img-top" src=<%= @picture %> alt="Card image cap" >
        <div class="card-body">
          <h5 class="card-title"><%= pet.name.capitalize %></h5>
          <a href="/pets/<%= pet.id %>" class="btn btn-primary">See pet details</a>
        </div>
      </div><br>
    <% end %>
  <% end %>

</center>
