<h1><%= @user.name %>'s Dashboard</h1>
<h3>Email: <%= @user.email %></h3>
<br>
<%= button_to "Add Dog to Profile", users_pets_new_path, method: :get %>
<%= button_to "Update User Info", users_update_path, method: :get %>
